/* Define CSS Variables for better maintainability */
:root {
    --primary-bg-color: #f4f4f4;
    --primary-text-color: #333;
    --link-color: #f24916;
    --hover-bg-color: #000000;
    --hover-text-color: #ffffff;
    --header-color: #ffffff;
    --border-color: #ddd;
    --table-bg-color: #f2f2f2;
    --table-header-bg-color: #000000;
}

/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--primary-bg-color);
}

header {
    background: none;
    color: var(--header-color);
    padding-top: 30px;
    text-align: center;
}

/* Styling header image */
header img {
    margin: 0 auto 20px auto; /* Top and bottom margin */
    border: 10px solid #e75d0d; /* Thick border */
    border-radius: 1em;
}

main {
    padding: 30px;
}

h2 {
    font-size: 2em;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    background: var(--header-color);
    margin-bottom: 1px;
    padding: 8px;
}

ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    display: block;
}

ul li a:hover {
    background: var(--hover-bg-color);
    color: var(--hover-text-color);
}

/* Styling table elements */
table, th, td {
    border: 1px solid var(--border-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--table-header-bg-color);
    color: var(--header-color);
}

tr:nth-child(even) {
    background-color: var(--table-bg-color);
}

/* Styling anchor elements */
a {
    color: var(--link-color);
    text-decoration: underline;
    font-weight: bold; /* bold */
}

a:hover {
    color: var(--primary-text-color);
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    table, th, td {
        padding: 8px;
    }

    header img {
        width: 80%;
    }

    h2 {
        font-size: 1.5em;
    }

    ul li {
        padding: 5px;
    }
}
