iframe{
    width: 100%;
    height: 600px;
}

/* put section syllabus and classes side ot side, proportion 2:3 */

#syllabus{
    width: 40%;
    float: left;
    margin-right: 5%;
}

#classes{
    width: 55%;
    float: left;
}


/* Footer */

footer{
    /* add top marign */
    margin-top: 20px;
    background-color: #015761;
    color: #fff;
    padding: 20px;
    text-align: center;
}


footer a{
    color: white;
}
/* on hover */

footer a:hover{
    color: red;
}



