/* Give a max-width and width 100% to iframe for responsiveness */
iframe {
    width: 100%;
    /* max-width: 800px; Or any other value */
    height: 600px; /* Adjust as necessary */
}

/* Style the footer */
footer {
    background-color: #333; /* Dark background for contrast */
    padding: 20px 0;
}

/* Add link styling for footer links */
footer a {
    color: white;
    text-decoration: none;
}

/* Add hover effect for links */
footer a:hover {
    text-decoration: underline;
}

/* Style header for better readability on smaller screens */
header h1 {
    font-size: 1.8rem;
    padding: 10px;
}

/* Adjust header font size for larger screens */
@media(min-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
}

/* Handle overflowing content in tables on smaller screens */
@media(max-width: 767px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

main {
    padding: 30px;
}

h2 {
    font-size: 2em;
}

p {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    background: #ffffff;
    margin-bottom: 1px;
    padding: 8px;
}

ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

ul li a:hover {
    background: #50b3a2;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #50b3a2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #50b3a2;
    text-decoration: none;
}

a:hover {
    color: #333333;
}

@media (max-width: 767px) { /* Targeting devices with screen width less or equal to 767px */
   

    #tabla-clases thead {
      display: none; /* Hide table headers (but not display: none;, for accessibility) */
    }
    /* center the table */
    #tabla-clases {
      margin: 0 auto;
      width: 100%;
    }
    /* cahange colors to green of table */
    #tabla-clases tbody tr:nth-child(odd) {
      background-color: #50b3a2;
      /* text white */
        color: #ffffff;
    }

    body {
        /* center */
        margin: 0 auto;
        width: 100%;
        /* center elemnets */
        text-align: center;
    }



  }


  /* write something so the footer has space after last text from the body */
  /* bottom padding on references */
    
        
    
    .footer {
        /* top marign */
        /* the text is on top of the body do something */
        margin-top: 100px;
        background-color: #333;
        color: #ffffff;
        padding: 20px;
        height: 100px;
    }   

    /* change the color of the btn */

    .btn {
        background-color: #50b3a2;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: #333333;
        color: #ffffff;
    }
  